mat-divider {
  margin: 15px 0;
}

.meta-info-box {
  padding: 10px 0;
  .meta-info {
    position: relative;
    padding: 15px;
  }
}

.article-content {
  line-height: 2em;
}

.article-container {
  position: relative;
}

.copy-to-clipboard {
  &:hover {
    color: #00dddd;
  }
  position:absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition-duration: 250ms;
}
