<div class="article-container">
  <mat-icon (click)="copyBlogArticleToClipboard()" class="copy-to-clipboard" aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
  <div class="app-box article-content">
    <h3>{{blogArticle?.title}}</h3>
    <p><b>{{blogArticle?.introduction}}</b></p>
    <div [innerHTML]="blogArticle?.body"></div>
  </div>
  <div class="meta-info-box app-box">
    <div class="meta-info">
      <mat-icon (click)="copyMetaTitleToClipboard()" class="copy-to-clipboard" aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
      <b>Meta Title:</b>
      <mat-divider></mat-divider>
      <p>{{blogArticle?.metaTitle}}</p>
    </div>
    <div class="meta-info">
      <mat-icon (click)="copyMetaDescriptionToClipboard()" class="copy-to-clipboard" aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
      <b>Meta Description:</b>
      <mat-divider></mat-divider>
      <p>{{blogArticle?.metaDescription}}</p>
    </div>
    <div class="meta-info">
      <mat-icon (click)="copyMetaKeywordsToClipboard()" class="copy-to-clipboard" aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
      <b>Meta Keywords:</b>
      <mat-divider></mat-divider>
      <p>{{blogArticle?.metaKeywords?.join(', ')}}</p>
    </div>
  </div>
</div>
