<div>
  <mat-form-field [style.width.%]=100>
    <mat-label>Bitte wähle eine RSS-Feed Quelle</mat-label>
    <mat-select (selectionChange)="onChangeValue($event)">
      @for (feedSource of rssFeedSources; track feedSource) {
        <mat-option [value]="feedSource.id">{{feedSource.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button [disabled]="!selectedRssSourceId" (click)="loadFeed(selectedRssSourceId)" style="width: 100%;" mat-stroked-button color="primary">Weiter zu Artikelauswahl</button>
</div>

<div class="feed-list-container">
  <mat-progress-bar *ngIf="feedIsLoading" mode="indeterminate"></mat-progress-bar>
  <app-feed-list-item (click)="listItemClicked(listItem)" [feedListItem]="listItem" *ngFor="let listItem of feedListItems" ></app-feed-list-item>
</div>

<div class="blog-settings-panel">
  <app-blog-settings-panel [selectedItem]="selectedItem"></app-blog-settings-panel>
</div>
