@import "../node_modules/@angular/material/prebuilt-themes/cyan-orange.css";

@bg: #191c1c;
@bg2: rgba(0, 0, 0, 0.05);

html { height: 100%; background-color: @bg; color: #e0e3e2;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #9bffcc;
}

.app-box-half {
  border-radius: 12px 12px 0 0;
  border: 1px solid #3f4948;
  padding: 16px 24px 0 24px;
  margin-top: 20px;
}
.app-box {
  border-radius: 12px;
  border: 1px solid #3f4948;
  padding: 16px 24px 16px 24px;
  margin-top: 20px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  .sidebar{
    width: 600px;
    margin-left: 30px;
  }
  .center-box {
    width: 800px;
    margin-left: 50px;
  }
}



