.feed-list-item {
  &:hover {
    background-color: rgba(155, 255, 204, 0.07);
  }
  &.selected {
    background-color: rgba(155, 255, 204, 0.22);
    margin-left: 10px;
    border-left: 4px solid white;
  }
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin:15px 0;
  padding: 0 20px 0 10px;
  transition-duration: 250ms;
  .fli-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    .title {
      font-weight: bold;
    }
    .url {
      font-size: 12px;
    }
  }
  .fli-right {
    padding: 10px;
  }
}


