<mat-divider></mat-divider>
<div [class.selected]="feedListItem?.active" class="feed-list-item">
  <div class="fli-left">
    <div class="title">{{feedListItem?.title}}</div>
    <div class="url">{{feedListItem?.link}}</div>
  </div>
  <div class="fli-right">
    <img width="120" src="{{feedListItem?.image}}" />
  </div>
</div>
