<header>
  <img src="assets/images/coco-blog-logo.png">
</header>

<div class="container">
  <div class="sidebar left">
    <app-rss-selector>
    </app-rss-selector>
  </div>
  <div class="center-box">
    <app-blog-article *ngIf="stateService.blogArticleLoaded"></app-blog-article>
  </div>
</div>
<router-outlet />
