.blog-settings-panel {
  .top {
    padding: 5px 10px 10px 10px;
    margin-bottom: 10px;
    .top-inner {
      padding-bottom: 15px;
    }
  }
  .panel-inner {
    display: flex;
    justify-content: space-evenly;
    .settings-content {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.panel-footer {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #3f4948;
  background-color: #3f49483d;
}
