<div class="blog-settings-panel app-box-half">
  <div *ngIf="selectedItem" class="top">
    <div class="top-inner">
      Erstelle min einen Blogbeitrag über: <br />
      {{selectedItem.title}}
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="panel-inner">
    <div class="left">
      <div>Anredeform</div>
      <mat-divider></mat-divider>
      <div class="settings-content">
        <mat-button-toggle-group [disabled]="stateService.articleIsLoading" (change)="onChangePronoun($event)" name="favoriteColor" aria-label="Favorite Color">
          <mat-button-toggle value="personal">Du</mat-button-toggle>
          <mat-button-toggle value="formal">Sie</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="right">
      <div>Stil des Beitrags</div>
      <mat-divider></mat-divider>
      <div class="settings-content">
        <mat-button-toggle-group [disabled]="stateService.articleIsLoading" (change)="onChangeStyle($event)" name="favoriteColor" aria-label="Favorite Color">
          <mat-button-toggle value="friendly">freundlich</mat-button-toggle>
          <mat-button-toggle value="professional">professionell</mat-button-toggle>
          <mat-button-toggle value="convincing">überzeugend</mat-button-toggle>
          <mat-button-toggle value="casual">locker</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="stateService.articleIsLoading" mode="indeterminate"></mat-progress-bar>
<div class="panel-footer">
  <button [disabled]="!selectedItem || !selectedStyle || !selectedPronoun || stateService.articleIsLoading" (click)="createBlogArticle()" mat-flat-button color="primary">Blogartikel erstellen</button>
</div>
