/* node_modules/@angular/material/prebuilt-themes/cyan-orange.css */
.mat-ripple {
  overflow: hidden;
  position: relative;
}
.mat-ripple:not(:empty) {
  transform: translateZ(0);
}
.mat-ripple.mat-ripple-unbounded {
  overflow: visible;
}
.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale3d(0, 0, 0);
  background-color: var(--mat-ripple-color, rgba(0, 0, 0, 0.1));
}
.cdk-high-contrast-active .mat-ripple-element {
  display: none;
}
.cdk-drag-preview .mat-ripple-element,
.cdk-drag-placeholder .mat-ripple-element {
  display: none;
}
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0;
}
[dir=rtl] .cdk-visually-hidden {
  left: auto;
  right: 0;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-container:empty {
  display: none;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .6;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32);
}
.cdk-overlay-transparent-backdrop {
  transition: visibility 1ms linear, opacity 1ms linear;
  visibility: hidden;
  opacity: 1;
}
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
  visibility: visible;
}
.cdk-overlay-backdrop-noop-animation {
  transition: none;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
textarea.cdk-textarea-autosize {
  resize: none;
}
textarea.cdk-textarea-autosize-measuring {
  padding: 2px 0 !important;
  box-sizing: content-box !important;
  height: auto !important;
  overflow: hidden !important;
}
textarea.cdk-textarea-autosize-measuring-firefox {
  padding: 2px 0 !important;
  box-sizing: content-box !important;
  height: 0 !important;
}
@keyframes cdk-text-field-autofill-start {
}
@keyframes cdk-text-field-autofill-end {
}
.cdk-text-field-autofill-monitored:-webkit-autofill {
  animation: cdk-text-field-autofill-start 0s 1ms;
}
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation: cdk-text-field-autofill-end 0s 1ms;
}
.mat-focus-indicator {
  position: relative;
}
.mat-focus-indicator::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  display: var(--mat-focus-indicator-display, none);
  border: var(--mat-focus-indicator-border-width, 3px) var(--mat-focus-indicator-border-style, solid) var(--mat-focus-indicator-border-color, transparent);
  border-radius: var(--mat-focus-indicator-border-radius, 4px);
}
.mat-focus-indicator:focus::before {
  content: "";
}
.cdk-high-contrast-active {
  --mat-focus-indicator-display: block;
}
.mat-mdc-focus-indicator {
  position: relative;
}
.mat-mdc-focus-indicator::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  display: var(--mat-mdc-focus-indicator-display, none);
  border: var(--mat-mdc-focus-indicator-border-width, 3px) var(--mat-mdc-focus-indicator-border-style, solid) var(--mat-mdc-focus-indicator-border-color, transparent);
  border-radius: var(--mat-mdc-focus-indicator-border-radius, 4px);
}
.mat-mdc-focus-indicator:focus::before {
  content: "";
}
.cdk-high-contrast-active {
  --mat-mdc-focus-indicator-display: block;
}
.mat-app-background {
  background-color: var(--mat-app-background-color, transparent);
  color: var(--mat-app-text-color, inherit);
}
html {
  --mat-app-background-color:#191c1c;
  --mat-app-text-color:#e0e3e2;
  --mat-ripple-color:rgba(224, 227, 226, 0.1);
  --mat-option-selected-state-label-text-color:#cce8e7;
  --mat-option-label-text-color:#e0e3e2;
  --mat-option-hover-state-layer-color:rgba(224, 227, 226, 0.08);
  --mat-option-focus-state-layer-color:rgba(224, 227, 226, 0.12);
  --mat-option-selected-state-layer-color:#324b4b;
  --mat-option-label-text-font:Roboto, sans-serif;
  --mat-option-label-text-line-height:1.25rem;
  --mat-option-label-text-size:1rem;
  --mat-option-label-text-tracking:0.006rem;
  --mat-option-label-text-weight:400;
  --mat-full-pseudo-checkbox-selected-icon-color:#00dddd;
  --mat-full-pseudo-checkbox-selected-checkmark-color:#003737;
  --mat-full-pseudo-checkbox-unselected-icon-color:#bec9c8;
  --mat-full-pseudo-checkbox-disabled-selected-checkmark-color:#191c1c;
  --mat-full-pseudo-checkbox-disabled-unselected-icon-color:rgba(224, 227, 226, 0.38);
  --mat-full-pseudo-checkbox-disabled-selected-icon-color:rgba(224, 227, 226, 0.38);
  --mat-minimal-pseudo-checkbox-selected-checkmark-color:#00dddd;
  --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color:rgba(224, 227, 226, 0.38);
  --mdc-elevated-card-container-color:#191c1c;
  --mdc-elevated-card-container-elevation:0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-elevated-card-container-shape:12px;
  --mdc-outlined-card-container-color:#191c1c;
  --mdc-outlined-card-outline-color:#3f4948;
  --mdc-outlined-card-container-elevation:0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mdc-outlined-card-container-shape:12px;
  --mdc-outlined-card-outline-width:1px;
  --mat-card-subtitle-text-color:#e0e3e2;
  --mat-card-title-text-font:Roboto, sans-serif;
  --mat-card-title-text-line-height:1.75rem;
  --mat-card-title-text-size:1.375rem;
  --mat-card-title-text-tracking:0rem;
  --mat-card-title-text-weight:400;
  --mat-card-subtitle-text-font:Roboto, sans-serif;
  --mat-card-subtitle-text-line-height:1.5rem;
  --mat-card-subtitle-text-size:1rem;
  --mat-card-subtitle-text-tracking:0.009rem;
  --mat-card-subtitle-text-weight:500;
  --mdc-linear-progress-active-indicator-color:#00dddd;
  --mdc-linear-progress-track-color:#3f4948;
  --mdc-linear-progress-active-indicator-height:4px;
  --mdc-linear-progress-track-height:4px;
  --mdc-linear-progress-track-shape:0px;
  --mdc-plain-tooltip-container-color:#e0e3e2;
  --mdc-plain-tooltip-supporting-text-color:#2d3131;
  --mdc-plain-tooltip-supporting-text-line-height:1rem;
  --mdc-plain-tooltip-supporting-text-font:Roboto, sans-serif;
  --mdc-plain-tooltip-supporting-text-size:0.75rem;
  --mdc-plain-tooltip-supporting-text-weight:400;
  --mdc-plain-tooltip-supporting-text-tracking:0.025rem;
  --mdc-plain-tooltip-container-shape:4px;
  --mdc-filled-text-field-caret-color:#00dddd;
  --mdc-filled-text-field-focus-active-indicator-color:#00dddd;
  --mdc-filled-text-field-focus-label-text-color:#00dddd;
  --mdc-filled-text-field-container-color:#3f4948;
  --mdc-filled-text-field-disabled-container-color:rgba(224, 227, 226, 0.04);
  --mdc-filled-text-field-label-text-color:#bec9c8;
  --mdc-filled-text-field-hover-label-text-color:#bec9c8;
  --mdc-filled-text-field-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-filled-text-field-input-text-color:#e0e3e2;
  --mdc-filled-text-field-disabled-input-text-color:rgba(224, 227, 226, 0.38);
  --mdc-filled-text-field-input-text-placeholder-color:#bec9c8;
  --mdc-filled-text-field-error-hover-label-text-color:#ffdad6;
  --mdc-filled-text-field-error-focus-label-text-color:#ffb4ab;
  --mdc-filled-text-field-error-label-text-color:#ffb4ab;
  --mdc-filled-text-field-active-indicator-color:#bec9c8;
  --mdc-filled-text-field-disabled-active-indicator-color:rgba(224, 227, 226, 0.38);
  --mdc-filled-text-field-hover-active-indicator-color:#e0e3e2;
  --mdc-filled-text-field-error-active-indicator-color:#ffb4ab;
  --mdc-filled-text-field-error-focus-active-indicator-color:#ffb4ab;
  --mdc-filled-text-field-error-hover-active-indicator-color:#ffdad6;
  --mdc-filled-text-field-label-text-font:Roboto, sans-serif;
  --mdc-filled-text-field-label-text-size:1rem;
  --mdc-filled-text-field-label-text-tracking:0.031rem;
  --mdc-filled-text-field-label-text-weight:400;
  --mdc-filled-text-field-active-indicator-height:1px;
  --mdc-filled-text-field-focus-active-indicator-height:2px;
  --mdc-filled-text-field-container-shape:4px;
  --mdc-outlined-text-field-caret-color:#00dddd;
  --mdc-outlined-text-field-focus-outline-color:#00dddd;
  --mdc-outlined-text-field-focus-label-text-color:#00dddd;
  --mdc-outlined-text-field-label-text-color:#bec9c8;
  --mdc-outlined-text-field-hover-label-text-color:#e0e3e2;
  --mdc-outlined-text-field-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-outlined-text-field-input-text-color:#e0e3e2;
  --mdc-outlined-text-field-disabled-input-text-color:rgba(224, 227, 226, 0.38);
  --mdc-outlined-text-field-input-text-placeholder-color:#bec9c8;
  --mdc-outlined-text-field-error-focus-label-text-color:#ffb4ab;
  --mdc-outlined-text-field-error-label-text-color:#ffb4ab;
  --mdc-outlined-text-field-error-hover-label-text-color:#ffdad6;
  --mdc-outlined-text-field-outline-color:#889392;
  --mdc-outlined-text-field-disabled-outline-color:rgba(224, 227, 226, 0.12);
  --mdc-outlined-text-field-hover-outline-color:#e0e3e2;
  --mdc-outlined-text-field-error-focus-outline-color:#ffb4ab;
  --mdc-outlined-text-field-error-hover-outline-color:#ffdad6;
  --mdc-outlined-text-field-error-outline-color:#ffb4ab;
  --mdc-outlined-text-field-label-text-font:Roboto, sans-serif;
  --mdc-outlined-text-field-label-text-size:1rem;
  --mdc-outlined-text-field-label-text-tracking:0.031rem;
  --mdc-outlined-text-field-label-text-weight:400;
  --mdc-outlined-text-field-outline-width:1px;
  --mdc-outlined-text-field-focus-outline-width:2px;
  --mdc-outlined-text-field-container-shape:4px;
  --mat-form-field-focus-select-arrow-color:#00dddd;
  --mat-form-field-disabled-input-text-placeholder-color:rgba(224, 227, 226, 0.38);
  --mat-form-field-state-layer-color:#e0e3e2;
  --mat-form-field-error-text-color:#ffb4ab;
  --mat-form-field-select-option-text-color:#191c1c;
  --mat-form-field-select-disabled-option-text-color:rgba(25, 28, 28, 0.38);
  --mat-form-field-leading-icon-color:#bec9c8;
  --mat-form-field-disabled-leading-icon-color:rgba(224, 227, 226, 0.38);
  --mat-form-field-trailing-icon-color:#bec9c8;
  --mat-form-field-disabled-trailing-icon-color:rgba(224, 227, 226, 0.38);
  --mat-form-field-error-focus-trailing-icon-color:#ffb4ab;
  --mat-form-field-error-hover-trailing-icon-color:#ffdad6;
  --mat-form-field-error-trailing-icon-color:#ffb4ab;
  --mat-form-field-enabled-select-arrow-color:#bec9c8;
  --mat-form-field-disabled-select-arrow-color:rgba(224, 227, 226, 0.38);
  --mat-form-field-hover-state-layer-opacity:0.08;
  --mat-form-field-container-text-font:Roboto, sans-serif;
  --mat-form-field-container-text-line-height:1.5rem;
  --mat-form-field-container-text-size:1rem;
  --mat-form-field-container-text-tracking:0.031rem;
  --mat-form-field-container-text-weight:400;
  --mat-form-field-subscript-text-font:Roboto, sans-serif;
  --mat-form-field-subscript-text-line-height:1rem;
  --mat-form-field-subscript-text-size:0.75rem;
  --mat-form-field-subscript-text-tracking:0.025rem;
  --mat-form-field-subscript-text-weight:400;
  --mat-form-field-container-height:56px;
  --mat-form-field-filled-label-display:block;
  --mat-form-field-container-vertical-padding:16px;
  --mat-form-field-filled-with-label-container-padding-top:24px;
  --mat-form-field-filled-with-label-container-padding-bottom:8px;
  --mat-form-field-focus-state-layer-opacity:0;
  --mat-select-panel-background-color:#1d2020;
  --mat-select-enabled-trigger-text-color:#e0e3e2;
  --mat-select-disabled-trigger-text-color:rgba(224, 227, 226, 0.38);
  --mat-select-placeholder-text-color:#bec9c8;
  --mat-select-enabled-arrow-color:#bec9c8;
  --mat-select-disabled-arrow-color:rgba(224, 227, 226, 0.38);
  --mat-select-focused-arrow-color:#00dddd;
  --mat-select-invalid-arrow-color:#ffb4ab;
  --mat-select-trigger-text-font:Roboto, sans-serif;
  --mat-select-trigger-text-line-height:1.5rem;
  --mat-select-trigger-text-size:1rem;
  --mat-select-trigger-text-tracking:0.031rem;
  --mat-select-trigger-text-weight:400;
  --mat-select-arrow-transform:translateY(-8px);
  --mat-select-container-elevation-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --mat-autocomplete-background-color:#1d2020;
  --mat-autocomplete-container-shape:4px;
  --mat-autocomplete-container-elevation-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --mdc-dialog-container-color:#191c1c;
  --mdc-dialog-subhead-color:#e0e3e2;
  --mdc-dialog-supporting-text-color:#bec9c8;
  --mdc-dialog-subhead-font:Roboto, sans-serif;
  --mdc-dialog-subhead-line-height:2rem;
  --mdc-dialog-subhead-size:1.5rem;
  --mdc-dialog-subhead-weight:400;
  --mdc-dialog-subhead-tracking:0rem;
  --mdc-dialog-supporting-text-font:Roboto, sans-serif;
  --mdc-dialog-supporting-text-line-height:1.25rem;
  --mdc-dialog-supporting-text-size:0.875rem;
  --mdc-dialog-supporting-text-weight:400;
  --mdc-dialog-supporting-text-tracking:0.016rem;
  --mdc-dialog-container-shape:28px;
  --mat-dialog-container-elevation-shadow:none;
  --mat-dialog-container-max-width:560px;
  --mat-dialog-container-small-max-width:calc(100vw - 32px);
  --mat-dialog-container-min-width:280px;
  --mat-dialog-actions-alignment:flex-end;
  --mat-dialog-actions-padding:16px 24px;
  --mat-dialog-content-padding:20px 24px;
  --mat-dialog-with-actions-content-padding:20px 24px 0;
  --mat-dialog-headline-padding:6px 24px 13px;
  --mdc-chip-outline-color:#889392;
  --mdc-chip-disabled-outline-color:rgba(224, 227, 226, 0.12);
  --mdc-chip-focus-outline-color:#bec9c8;
  --mdc-chip-hover-state-layer-opacity:0.08;
  --mdc-chip-selected-hover-state-layer-opacity:0.08;
  --mdc-chip-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-chip-elevated-selected-container-color:#324b4b;
  --mdc-chip-flat-disabled-selected-container-color:rgba(224, 227, 226, 0.12);
  --mdc-chip-focus-state-layer-color:#bec9c8;
  --mdc-chip-hover-state-layer-color:#bec9c8;
  --mdc-chip-selected-hover-state-layer-color:#cce8e7;
  --mdc-chip-focus-state-layer-opacity:0.12;
  --mdc-chip-selected-focus-state-layer-color:#cce8e7;
  --mdc-chip-selected-focus-state-layer-opacity:0.12;
  --mdc-chip-label-text-color:#bec9c8;
  --mdc-chip-selected-label-text-color:#cce8e7;
  --mdc-chip-with-icon-icon-color:#bec9c8;
  --mdc-chip-with-icon-disabled-icon-color:#e0e3e2;
  --mdc-chip-with-icon-selected-icon-color:#cce8e7;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color:#e0e3e2;
  --mdc-chip-with-trailing-icon-trailing-icon-color:#bec9c8;
  --mdc-chip-label-text-font:Roboto, sans-serif;
  --mdc-chip-label-text-line-height:1.25rem;
  --mdc-chip-label-text-size:0.875rem;
  --mdc-chip-label-text-tracking:0.006rem;
  --mdc-chip-label-text-weight:500;
  --mdc-chip-container-height:32px;
  --mdc-chip-container-shape-family:rounded;
  --mdc-chip-container-shape-radius:8px;
  --mdc-chip-with-avatar-avatar-size:24px;
  --mdc-chip-with-icon-icon-size:18px;
  --mdc-chip-outline-width:1px;
  --mdc-chip-with-avatar-disabled-avatar-opacity:0.38;
  --mdc-chip-flat-selected-outline-width:0;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-opacity:0.38;
  --mdc-chip-with-icon-disabled-icon-opacity:0.38;
  --mat-chip-trailing-action-state-layer-color:#bec9c8;
  --mat-chip-selected-trailing-action-state-layer-color:#cce8e7;
  --mat-chip-trailing-action-hover-state-layer-opacity:0.08;
  --mat-chip-trailing-action-focus-state-layer-opacity:0.12;
  --mat-chip-selected-disabled-trailing-icon-color:#e0e3e2;
  --mat-chip-selected-trailing-icon-color:#cce8e7;
  --mat-chip-disabled-container-opacity:1;
  --mat-chip-trailing-action-opacity:1;
  --mat-chip-trailing-action-focus-opacity:1;
  --mdc-switch-selected-focus-state-layer-opacity:0.12;
  --mdc-switch-selected-hover-state-layer-opacity:0.08;
  --mdc-switch-selected-pressed-state-layer-opacity:0.12;
  --mdc-switch-unselected-focus-state-layer-opacity:0.12;
  --mdc-switch-unselected-hover-state-layer-opacity:0.08;
  --mdc-switch-unselected-pressed-state-layer-opacity:0.12;
  --mdc-switch-selected-focus-state-layer-color:#00dddd;
  --mdc-switch-selected-handle-color:#003737;
  --mdc-switch-selected-hover-state-layer-color:#00dddd;
  --mdc-switch-selected-pressed-state-layer-color:#00dddd;
  --mdc-switch-selected-focus-handle-color:#004f4f;
  --mdc-switch-selected-hover-handle-color:#004f4f;
  --mdc-switch-selected-pressed-handle-color:#004f4f;
  --mdc-switch-selected-focus-track-color:#00dddd;
  --mdc-switch-selected-hover-track-color:#00dddd;
  --mdc-switch-selected-pressed-track-color:#00dddd;
  --mdc-switch-selected-track-color:#00dddd;
  --mdc-switch-disabled-selected-handle-color:#191c1c;
  --mdc-switch-disabled-selected-icon-color:#e0e3e2;
  --mdc-switch-disabled-selected-track-color:#e0e3e2;
  --mdc-switch-disabled-unselected-handle-color:#e0e3e2;
  --mdc-switch-disabled-unselected-icon-color:#3f4948;
  --mdc-switch-disabled-unselected-track-color:#3f4948;
  --mdc-switch-selected-icon-color:#00fbfb;
  --mdc-switch-unselected-focus-handle-color:#bec9c8;
  --mdc-switch-unselected-focus-state-layer-color:#e0e3e2;
  --mdc-switch-unselected-focus-track-color:#3f4948;
  --mdc-switch-unselected-handle-color:#889392;
  --mdc-switch-unselected-hover-handle-color:#bec9c8;
  --mdc-switch-unselected-hover-state-layer-color:#e0e3e2;
  --mdc-switch-unselected-hover-track-color:#3f4948;
  --mdc-switch-unselected-icon-color:#3f4948;
  --mdc-switch-unselected-pressed-handle-color:#bec9c8;
  --mdc-switch-unselected-pressed-state-layer-color:#e0e3e2;
  --mdc-switch-unselected-pressed-track-color:#3f4948;
  --mdc-switch-unselected-track-color:#3f4948;
  --mdc-switch-disabled-selected-icon-opacity:0.38;
  --mdc-switch-disabled-track-opacity:0.12;
  --mdc-switch-disabled-unselected-icon-opacity:0.38;
  --mdc-switch-handle-shape:9999px;
  --mdc-switch-selected-icon-size:16px;
  --mdc-switch-track-height:32px;
  --mdc-switch-track-shape:9999px;
  --mdc-switch-track-width:52px;
  --mdc-switch-unselected-icon-size:16px;
  --mdc-switch-state-layer-size:40px;
  --mat-switch-track-outline-color:#889392;
  --mat-switch-disabled-unselected-track-outline-color:#e0e3e2;
  --mat-switch-label-text-color:#e0e3e2;
  --mat-switch-label-text-font:Roboto, sans-serif;
  --mat-switch-label-text-line-height:1.25rem;
  --mat-switch-label-text-size:0.875rem;
  --mat-switch-label-text-tracking:0.016rem;
  --mat-switch-label-text-weight:400;
  --mat-switch-disabled-selected-handle-opacity:1;
  --mat-switch-disabled-unselected-handle-opacity:0.38;
  --mat-switch-unselected-handle-size:16px;
  --mat-switch-selected-handle-size:24px;
  --mat-switch-pressed-handle-size:28px;
  --mat-switch-with-icon-handle-size:24px;
  --mat-switch-selected-handle-horizontal-margin:0 24px;
  --mat-switch-selected-with-icon-handle-horizontal-margin:0 24px;
  --mat-switch-selected-pressed-handle-horizontal-margin:0 22px;
  --mat-switch-unselected-handle-horizontal-margin:0 8px;
  --mat-switch-unselected-with-icon-handle-horizontal-margin:0 4px;
  --mat-switch-unselected-pressed-handle-horizontal-margin:0 2px;
  --mat-switch-visible-track-opacity:1;
  --mat-switch-hidden-track-opacity:0;
  --mat-switch-visible-track-transition:opacity 75ms;
  --mat-switch-hidden-track-transition:opacity 75ms;
  --mat-switch-track-outline-width:2px;
  --mat-switch-selected-track-outline-width:2px;
  --mat-switch-selected-track-outline-color:transparent;
  --mat-switch-disabled-unselected-track-outline-width:2px;
  --mdc-radio-disabled-selected-icon-color:#e0e3e2;
  --mdc-radio-disabled-unselected-icon-color:#e0e3e2;
  --mdc-radio-unselected-hover-icon-color:#e0e3e2;
  --mdc-radio-unselected-icon-color:#bec9c8;
  --mdc-radio-unselected-pressed-icon-color:#e0e3e2;
  --mdc-radio-selected-focus-icon-color:#00dddd;
  --mdc-radio-selected-hover-icon-color:#00dddd;
  --mdc-radio-selected-icon-color:#00dddd;
  --mdc-radio-selected-pressed-icon-color:#00dddd;
  --mdc-radio-state-layer-size:40px;
  --mdc-radio-disabled-selected-icon-opacity:0.38;
  --mdc-radio-disabled-unselected-icon-opacity:0.38;
  --mat-radio-ripple-color:#e0e3e2;
  --mat-radio-checked-ripple-color:#00dddd;
  --mat-radio-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-radio-label-text-color:#e0e3e2;
  --mat-radio-label-text-font:Roboto, sans-serif;
  --mat-radio-label-text-line-height:1.25rem;
  --mat-radio-label-text-size:0.875rem;
  --mat-radio-label-text-tracking:0.016rem;
  --mat-radio-label-text-weight:400;
  --mat-radio-touch-target-display:block;
  --mdc-slider-handle-color:#00dddd;
  --mdc-slider-focus-handle-color:#00dddd;
  --mdc-slider-hover-handle-color:#00dddd;
  --mdc-slider-active-track-color:#00dddd;
  --mdc-slider-inactive-track-color:#3f4948;
  --mdc-slider-with-tick-marks-inactive-container-color:#bec9c8;
  --mdc-slider-with-tick-marks-active-container-color:#003737;
  --mdc-slider-disabled-active-track-color:#e0e3e2;
  --mdc-slider-disabled-handle-color:#e0e3e2;
  --mdc-slider-disabled-inactive-track-color:#e0e3e2;
  --mdc-slider-label-container-color:#00dddd;
  --mdc-slider-label-label-text-color:#003737;
  --mdc-slider-with-overlap-handle-outline-color:#003737;
  --mdc-slider-with-tick-marks-disabled-container-color:#e0e3e2;
  --mdc-slider-handle-elevation:1;
  --mdc-slider-handle-shadow-color:#000000;
  --mdc-slider-label-label-text-font:Roboto, sans-serif;
  --mdc-slider-label-label-text-size:0.75rem;
  --mdc-slider-label-label-text-line-height:1rem;
  --mdc-slider-label-label-text-tracking:0.031rem;
  --mdc-slider-label-label-text-weight:500;
  --mdc-slider-active-track-height:4px;
  --mdc-slider-active-track-shape:9999px;
  --mdc-slider-handle-height:20px;
  --mdc-slider-handle-shape:9999px;
  --mdc-slider-handle-width:20px;
  --mdc-slider-inactive-track-height:4px;
  --mdc-slider-inactive-track-shape:9999px;
  --mdc-slider-with-overlap-handle-outline-width:1px;
  --mdc-slider-with-tick-marks-active-container-opacity:0.38;
  --mdc-slider-with-tick-marks-container-shape:9999px;
  --mdc-slider-with-tick-marks-container-size:2px;
  --mdc-slider-with-tick-marks-inactive-container-opacity:0.38;
  --mat-slider-ripple-color:#00dddd;
  --mat-slider-hover-state-layer-color:rgba(0, 221, 221, 0.05);
  --mat-slider-focus-state-layer-color:rgba(0, 221, 221, 0.2);
  --mat-slider-value-indicator-width:28px;
  --mat-slider-value-indicator-height:28px;
  --mat-slider-value-indicator-caret-display:none;
  --mat-slider-value-indicator-border-radius:50% 50% 50% 0;
  --mat-slider-value-indicator-padding:0;
  --mat-slider-value-indicator-text-transform:rotate(45deg);
  --mat-slider-value-indicator-container-transform:translateX(-50%) rotate(-45deg);
  --mat-slider-value-indicator-opacity:1;
  --mat-menu-item-label-text-color:#e0e3e2;
  --mat-menu-item-icon-color:#bec9c8;
  --mat-menu-item-hover-state-layer-color:rgba(224, 227, 226, 0.08);
  --mat-menu-item-focus-state-layer-color:rgba(224, 227, 226, 0.12);
  --mat-menu-container-color:#1d2020;
  --mat-menu-divider-color:#3f4948;
  --mat-menu-item-label-text-font:Roboto, sans-serif;
  --mat-menu-item-label-text-size:0.875rem;
  --mat-menu-item-label-text-tracking:0.006rem;
  --mat-menu-item-label-text-line-height:1.25rem;
  --mat-menu-item-label-text-weight:500;
  --mat-menu-container-shape:4px;
  --mat-menu-divider-bottom-spacing:8px;
  --mat-menu-divider-top-spacing:8px;
  --mat-menu-item-spacing:12px;
  --mat-menu-item-icon-size:24px;
  --mat-menu-item-leading-spacing:12px;
  --mat-menu-item-trailing-spacing:12px;
  --mat-menu-item-with-icon-leading-spacing:12px;
  --mat-menu-item-with-icon-trailing-spacing:12px;
  --mdc-list-list-item-container-color:transparent;
  --mdc-list-list-item-leading-avatar-color:#004f4f;
  --mdc-list-list-item-disabled-state-layer-color:#e0e3e2;
  --mdc-list-list-item-disabled-state-layer-opacity:0.12;
  --mdc-list-list-item-label-text-color:#e0e3e2;
  --mdc-list-list-item-supporting-text-color:#bec9c8;
  --mdc-list-list-item-leading-icon-color:#bec9c8;
  --mdc-list-list-item-trailing-supporting-text-color:#bec9c8;
  --mdc-list-list-item-trailing-icon-color:#bec9c8;
  --mdc-list-list-item-selected-trailing-icon-color:#00dddd;
  --mdc-list-list-item-disabled-label-text-color:#e0e3e2;
  --mdc-list-list-item-disabled-leading-icon-color:#e0e3e2;
  --mdc-list-list-item-disabled-trailing-icon-color:#e0e3e2;
  --mdc-list-list-item-hover-label-text-color:#e0e3e2;
  --mdc-list-list-item-focus-label-text-color:#e0e3e2;
  --mdc-list-list-item-hover-state-layer-color:#e0e3e2;
  --mdc-list-list-item-hover-state-layer-opacity:0.08;
  --mdc-list-list-item-focus-state-layer-color:#e0e3e2;
  --mdc-list-list-item-focus-state-layer-opacity:0.12;
  --mdc-list-list-item-label-text-font:Roboto, sans-serif;
  --mdc-list-list-item-label-text-line-height:1.5rem;
  --mdc-list-list-item-label-text-size:1rem;
  --mdc-list-list-item-label-text-tracking:0.031rem;
  --mdc-list-list-item-label-text-weight:400;
  --mdc-list-list-item-supporting-text-font:Roboto, sans-serif;
  --mdc-list-list-item-supporting-text-line-height:1.25rem;
  --mdc-list-list-item-supporting-text-size:0.875rem;
  --mdc-list-list-item-supporting-text-tracking:0.016rem;
  --mdc-list-list-item-supporting-text-weight:400;
  --mdc-list-list-item-trailing-supporting-text-font:Roboto, sans-serif;
  --mdc-list-list-item-trailing-supporting-text-line-height:1rem;
  --mdc-list-list-item-trailing-supporting-text-size:0.688rem;
  --mdc-list-list-item-trailing-supporting-text-tracking:0.031rem;
  --mdc-list-list-item-trailing-supporting-text-weight:500;
  --mdc-list-list-item-one-line-container-height:48px;
  --mdc-list-list-item-two-line-container-height:64px;
  --mdc-list-list-item-three-line-container-height:88px;
  --mdc-list-list-item-container-shape:0px;
  --mdc-list-list-item-leading-avatar-shape:9999px;
  --mdc-list-list-item-leading-icon-size:24px;
  --mdc-list-list-item-leading-avatar-size:40px;
  --mdc-list-list-item-trailing-icon-size:24px;
  --mdc-list-list-item-disabled-label-text-opacity:0.3;
  --mdc-list-list-item-disabled-leading-icon-opacity:0.38;
  --mdc-list-list-item-disabled-trailing-icon-opacity:0.38;
  --mat-list-active-indicator-color:#324b4b;
  --mat-list-list-item-leading-icon-start-space:16px;
  --mat-list-list-item-leading-icon-end-space:16px;
  --mat-list-active-indicator-shape:9999px;
  --mat-paginator-container-text-color:#e0e3e2;
  --mat-paginator-container-background-color:#191c1c;
  --mat-paginator-enabled-icon-color:#bec9c8;
  --mat-paginator-disabled-icon-color:rgba(224, 227, 226, 0.38);
  --mat-paginator-container-text-font:Roboto, sans-serif;
  --mat-paginator-container-text-line-height:1rem;
  --mat-paginator-container-text-size:0.75rem;
  --mat-paginator-container-text-tracking:0.025rem;
  --mat-paginator-container-text-weight:400;
  --mat-paginator-select-trigger-text-size:0.75rem;
  --mat-paginator-container-size:56px;
  --mat-paginator-form-field-container-height:40px;
  --mat-paginator-form-field-container-vertical-padding:8px;
  --mdc-secondary-navigation-tab-container-height:48px;
  --mdc-tab-indicator-active-indicator-color:#00dddd;
  --mdc-tab-indicator-active-indicator-height:2px;
  --mdc-tab-indicator-active-indicator-shape:0;
  --mat-tab-header-divider-color:#3f4948;
  --mat-tab-header-pagination-icon-color:#e0e3e2;
  --mat-tab-header-inactive-label-text-color:#e0e3e2;
  --mat-tab-header-active-label-text-color:#e0e3e2;
  --mat-tab-header-active-ripple-color:#e0e3e2;
  --mat-tab-header-inactive-ripple-color:#e0e3e2;
  --mat-tab-header-inactive-focus-label-text-color:#e0e3e2;
  --mat-tab-header-inactive-hover-label-text-color:#e0e3e2;
  --mat-tab-header-active-focus-label-text-color:#e0e3e2;
  --mat-tab-header-active-hover-label-text-color:#e0e3e2;
  --mat-tab-header-active-focus-indicator-color:#00dddd;
  --mat-tab-header-active-hover-indicator-color:#00dddd;
  --mat-tab-header-label-text-font:Roboto, sans-serif;
  --mat-tab-header-label-text-size:0.875rem;
  --mat-tab-header-label-text-tracking:0.006rem;
  --mat-tab-header-label-text-line-height:1.25rem;
  --mat-tab-header-label-text-weight:500;
  --mat-tab-header-divider-height:1px;
  --mdc-checkbox-disabled-selected-checkmark-color:#191c1c;
  --mdc-checkbox-selected-focus-state-layer-opacity:0.12;
  --mdc-checkbox-selected-hover-state-layer-opacity:0.08;
  --mdc-checkbox-selected-pressed-state-layer-opacity:0.12;
  --mdc-checkbox-unselected-focus-state-layer-opacity:0.12;
  --mdc-checkbox-unselected-hover-state-layer-opacity:0.08;
  --mdc-checkbox-unselected-pressed-state-layer-opacity:0.12;
  --mdc-checkbox-disabled-selected-icon-color:rgba(224, 227, 226, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color:rgba(224, 227, 226, 0.38);
  --mdc-checkbox-selected-checkmark-color:#003737;
  --mdc-checkbox-selected-focus-icon-color:#00dddd;
  --mdc-checkbox-selected-hover-icon-color:#00dddd;
  --mdc-checkbox-selected-icon-color:#00dddd;
  --mdc-checkbox-unselected-focus-icon-color:#e0e3e2;
  --mdc-checkbox-unselected-hover-icon-color:#e0e3e2;
  --mdc-checkbox-unselected-icon-color:#bec9c8;
  --mdc-checkbox-selected-focus-state-layer-color:#00dddd;
  --mdc-checkbox-selected-hover-state-layer-color:#00dddd;
  --mdc-checkbox-selected-pressed-state-layer-color:#e0e3e2;
  --mdc-checkbox-unselected-focus-state-layer-color:#e0e3e2;
  --mdc-checkbox-unselected-hover-state-layer-color:#e0e3e2;
  --mdc-checkbox-unselected-pressed-state-layer-color:#00dddd;
  --mdc-checkbox-state-layer-size:40px;
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
  --mat-checkbox-label-text-font:Roboto, sans-serif;
  --mat-checkbox-label-text-line-height:1.25rem;
  --mat-checkbox-label-text-size:0.875rem;
  --mat-checkbox-label-text-tracking:0.016rem;
  --mat-checkbox-label-text-weight:400;
  --mat-checkbox-touch-target-display:block;
  --mdc-text-button-label-text-color:#00dddd;
  --mdc-text-button-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-text-button-label-text-font:Roboto, sans-serif;
  --mdc-text-button-label-text-size:0.875rem;
  --mdc-text-button-label-text-tracking:0.006rem;
  --mdc-text-button-label-text-weight:500;
  --mdc-text-button-container-height:40px;
  --mdc-text-button-container-shape:9999px;
  --mdc-protected-button-container-color:#191c1c;
  --mdc-protected-button-label-text-color:#00dddd;
  --mdc-protected-button-disabled-container-color:rgba(224, 227, 226, 0.12);
  --mdc-protected-button-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-protected-button-container-elevation-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-disabled-container-elevation-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-focus-container-elevation-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-hover-container-elevation-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-pressed-container-elevation-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mdc-protected-button-container-shadow-color:#000000;
  --mdc-protected-button-label-text-font:Roboto, sans-serif;
  --mdc-protected-button-label-text-size:0.875rem;
  --mdc-protected-button-label-text-tracking:0.006rem;
  --mdc-protected-button-label-text-weight:500;
  --mdc-protected-button-container-height:40px;
  --mdc-protected-button-container-shape:9999px;
  --mdc-filled-button-container-color:#00dddd;
  --mdc-filled-button-label-text-color:#003737;
  --mdc-filled-button-disabled-container-color:rgba(224, 227, 226, 0.12);
  --mdc-filled-button-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-filled-button-label-text-font:Roboto, sans-serif;
  --mdc-filled-button-label-text-size:0.875rem;
  --mdc-filled-button-label-text-tracking:0.006rem;
  --mdc-filled-button-label-text-weight:500;
  --mdc-filled-button-container-height:40px;
  --mdc-filled-button-container-shape:9999px;
  --mdc-outlined-button-disabled-outline-color:rgba(224, 227, 226, 0.12);
  --mdc-outlined-button-disabled-label-text-color:rgba(224, 227, 226, 0.38);
  --mdc-outlined-button-label-text-color:#00dddd;
  --mdc-outlined-button-outline-color:#889392;
  --mdc-outlined-button-label-text-font:Roboto, sans-serif;
  --mdc-outlined-button-label-text-size:0.875rem;
  --mdc-outlined-button-label-text-tracking:0.006rem;
  --mdc-outlined-button-label-text-weight:500;
  --mdc-outlined-button-container-height:40px;
  --mdc-outlined-button-outline-width:1px;
  --mdc-outlined-button-container-shape:9999px;
  --mat-text-button-state-layer-color:#00dddd;
  --mat-text-button-disabled-state-layer-color:#bec9c8;
  --mat-text-button-ripple-color:rgba(0, 221, 221, 0.12);
  --mat-text-button-hover-state-layer-opacity:0.08;
  --mat-text-button-focus-state-layer-opacity:0.12;
  --mat-text-button-pressed-state-layer-opacity:0.12;
  --mat-text-button-touch-target-display:block;
  --mat-text-button-horizontal-padding:12px;
  --mat-text-button-with-icon-horizontal-padding:16px;
  --mat-text-button-icon-spacing:8px;
  --mat-text-button-icon-offset:-4px;
  --mat-protected-button-state-layer-color:#00dddd;
  --mat-protected-button-disabled-state-layer-color:#bec9c8;
  --mat-protected-button-ripple-color:rgba(0, 221, 221, 0.12);
  --mat-protected-button-hover-state-layer-opacity:0.08;
  --mat-protected-button-focus-state-layer-opacity:0.12;
  --mat-protected-button-pressed-state-layer-opacity:0.12;
  --mat-protected-button-touch-target-display:block;
  --mat-protected-button-horizontal-padding:24px;
  --mat-protected-button-icon-spacing:8px;
  --mat-protected-button-icon-offset:-8px;
  --mat-filled-button-state-layer-color:#003737;
  --mat-filled-button-disabled-state-layer-color:#bec9c8;
  --mat-filled-button-ripple-color:rgba(0, 55, 55, 0.12);
  --mat-filled-button-hover-state-layer-opacity:0.08;
  --mat-filled-button-focus-state-layer-opacity:0.12;
  --mat-filled-button-pressed-state-layer-opacity:0.12;
  --mat-filled-button-touch-target-display:block;
  --mat-filled-button-horizontal-padding:24px;
  --mat-filled-button-icon-spacing:8px;
  --mat-filled-button-icon-offset:-8px;
  --mat-outlined-button-state-layer-color:#00dddd;
  --mat-outlined-button-disabled-state-layer-color:#bec9c8;
  --mat-outlined-button-ripple-color:rgba(0, 221, 221, 0.12);
  --mat-outlined-button-hover-state-layer-opacity:0.08;
  --mat-outlined-button-focus-state-layer-opacity:0.12;
  --mat-outlined-button-pressed-state-layer-opacity:0.12;
  --mat-outlined-button-touch-target-display:block;
  --mat-outlined-button-horizontal-padding:24px;
  --mat-outlined-button-icon-spacing:8px;
  --mat-outlined-button-icon-offset:-8px;
  --mdc-icon-button-icon-color:#bec9c8;
  --mdc-icon-button-disabled-icon-color:rgba(224, 227, 226, 0.38);
  --mdc-icon-button-state-layer-size:40px;
  --mdc-icon-button-icon-size:24px;
  --mat-icon-button-state-layer-color:#bec9c8;
  --mat-icon-button-disabled-state-layer-color:#bec9c8;
  --mat-icon-button-ripple-color:rgba(190, 201, 200, 0.12);
  --mat-icon-button-hover-state-layer-opacity:0.08;
  --mat-icon-button-focus-state-layer-opacity:0.12;
  --mat-icon-button-pressed-state-layer-opacity:0.12;
  --mat-icon-button-touch-target-display:block;
  --mdc-extended-fab-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-container-shadow-color:#000000;
  --mdc-extended-fab-label-text-font:Roboto, sans-serif;
  --mdc-extended-fab-label-text-size:0.875rem;
  --mdc-extended-fab-label-text-tracking:0.006rem;
  --mdc-extended-fab-label-text-weight:500;
  --mdc-extended-fab-container-height:56px;
  --mdc-extended-fab-container-shape:16px;
  --mdc-fab-container-color:#004f4f;
  --mdc-fab-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-fab-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-container-shadow-color:#000000;
  --mdc-fab-container-shape:16px;
  --mdc-fab-icon-size:24px;
  --mdc-fab-small-container-color:#004f4f;
  --mdc-fab-small-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-container-shadow-color:#000000;
  --mdc-fab-small-container-shape:12px;
  --mdc-fab-small-icon-size:24px;
  --mat-fab-foreground-color:#00fbfb;
  --mat-fab-state-layer-color:#00fbfb;
  --mat-fab-ripple-color:rgba(0, 251, 251, 0.12);
  --mat-fab-hover-state-layer-opacity:0.08;
  --mat-fab-focus-state-layer-opacity:0.12;
  --mat-fab-pressed-state-layer-opacity:0.12;
  --mat-fab-disabled-state-container-color:rgba(224, 227, 226, 0.12);
  --mat-fab-disabled-state-foreground-color:rgba(224, 227, 226, 0.38);
  --mat-fab-touch-target-display:block;
  --mat-fab-small-foreground-color:#00fbfb;
  --mat-fab-small-state-layer-color:#00fbfb;
  --mat-fab-small-ripple-color:rgba(0, 251, 251, 0.12);
  --mat-fab-small-hover-state-layer-opacity:0.08;
  --mat-fab-small-focus-state-layer-opacity:0.12;
  --mat-fab-small-pressed-state-layer-opacity:0.12;
  --mat-fab-small-disabled-state-container-color:rgba(224, 227, 226, 0.12);
  --mat-fab-small-disabled-state-foreground-color:rgba(224, 227, 226, 0.38);
  --mdc-snackbar-container-color:#e0e3e2;
  --mdc-snackbar-supporting-text-color:#2d3131;
  --mdc-snackbar-supporting-text-font:Roboto, sans-serif;
  --mdc-snackbar-supporting-text-line-height:1.25rem;
  --mdc-snackbar-supporting-text-size:0.875rem;
  --mdc-snackbar-supporting-text-weight:400;
  --mdc-snackbar-container-shape:4px;
  --mat-snack-bar-button-color:#006a6a;
  --mat-table-background-color:#191c1c;
  --mat-table-header-headline-color:#e0e3e2;
  --mat-table-row-item-label-text-color:#e0e3e2;
  --mat-table-row-item-outline-color:#3f4948;
  --mat-table-header-headline-font:Roboto, sans-serif;
  --mat-table-header-headline-line-height:1.25rem;
  --mat-table-header-headline-size:0.875rem;
  --mat-table-header-headline-weight:500;
  --mat-table-header-headline-tracking:0.006rem;
  --mat-table-row-item-label-text-font:Roboto, sans-serif;
  --mat-table-row-item-label-text-line-height:1.25rem;
  --mat-table-row-item-label-text-size:0.875rem;
  --mat-table-row-item-label-text-weight:400;
  --mat-table-row-item-label-text-tracking:0.016rem;
  --mat-table-footer-supporting-text-font:Roboto, sans-serif;
  --mat-table-footer-supporting-text-line-height:1.25rem;
  --mat-table-footer-supporting-text-size:0.875rem;
  --mat-table-footer-supporting-text-weight:400;
  --mat-table-footer-supporting-text-tracking:0.016rem;
  --mat-table-header-container-height:56px;
  --mat-table-footer-container-height:52px;
  --mat-table-row-item-container-height:52px;
  --mat-table-row-item-outline-width:1px;
  --mdc-circular-progress-active-indicator-color:#00dddd;
  --mdc-circular-progress-active-indicator-width:4px;
  --mdc-circular-progress-size:48px;
  --mat-badge-background-color:#ffb4ab;
  --mat-badge-text-color:#690005;
  --mat-badge-disabled-state-background-color:rgba(255, 180, 171, 0.38);
  --mat-badge-disabled-state-text-color:#690005;
  --mat-badge-text-font:Roboto, sans-serif;
  --mat-badge-text-size:0.688rem;
  --mat-badge-text-weight:500;
  --mat-badge-large-size-text-size:0.688rem;
  --mat-badge-container-shape:9999px;
  --mat-badge-container-size:16px;
  --mat-badge-small-size-container-size:6px;
  --mat-badge-large-size-container-size:16px;
  --mat-badge-legacy-container-size:unset;
  --mat-badge-legacy-small-size-container-size:unset;
  --mat-badge-legacy-large-size-container-size:unset;
  --mat-badge-container-offset:-12px 0;
  --mat-badge-small-size-container-offset:-6px 0;
  --mat-badge-large-size-container-offset:-12px 0;
  --mat-badge-container-overlap-offset:-12px;
  --mat-badge-small-size-container-overlap-offset:-6px;
  --mat-badge-large-size-container-overlap-offset:-12px;
  --mat-badge-container-padding:0 4px;
  --mat-badge-small-size-container-padding:0;
  --mat-badge-large-size-container-padding:0 4px;
  --mat-badge-small-size-text-size:0;
  --mat-bottom-sheet-container-text-color:#e0e3e2;
  --mat-bottom-sheet-container-background-color:#191c1c;
  --mat-bottom-sheet-container-text-font:Roboto, sans-serif;
  --mat-bottom-sheet-container-text-line-height:1.5rem;
  --mat-bottom-sheet-container-text-size:1rem;
  --mat-bottom-sheet-container-text-tracking:0.031rem;
  --mat-bottom-sheet-container-text-weight:400;
  --mat-bottom-sheet-container-shape:28px;
  --mat-standard-button-toggle-hover-state-layer-opacity:0.08;
  --mat-standard-button-toggle-focus-state-layer-opacity:0.12;
  --mat-standard-button-toggle-text-color:#e0e3e2;
  --mat-standard-button-toggle-state-layer-color:#e0e3e2;
  --mat-standard-button-toggle-selected-state-background-color:#324b4b;
  --mat-standard-button-toggle-selected-state-text-color:#cce8e7;
  --mat-standard-button-toggle-disabled-state-text-color:rgba(224, 227, 226, 0.38);
  --mat-standard-button-toggle-disabled-selected-state-text-color:rgba(224, 227, 226, 0.38);
  --mat-standard-button-toggle-disabled-selected-state-background-color:rgba(224, 227, 226, 0.12);
  --mat-standard-button-toggle-divider-color:#889392;
  --mat-standard-button-toggle-label-text-font:Roboto, sans-serif;
  --mat-standard-button-toggle-label-text-line-height:1.25rem;
  --mat-standard-button-toggle-label-text-size:0.875rem;
  --mat-standard-button-toggle-label-text-tracking:0.006rem;
  --mat-standard-button-toggle-label-text-weight:500;
  --mat-standard-button-toggle-height:40px;
  --mat-standard-button-toggle-shape:9999px;
  --mat-standard-button-toggle-background-color:transparent;
  --mat-standard-button-toggle-disabled-state-background-color:transparent;
  --mat-datepicker-calendar-date-selected-state-text-color:#003737;
  --mat-datepicker-calendar-date-selected-state-background-color:#00dddd;
  --mat-datepicker-calendar-date-selected-disabled-state-background-color:rgba(224, 227, 226, 0.38);
  --mat-datepicker-calendar-date-today-selected-state-outline-color:#00dddd;
  --mat-datepicker-calendar-date-focus-state-background-color:rgba(224, 227, 226, 0.12);
  --mat-datepicker-calendar-date-hover-state-background-color:rgba(224, 227, 226, 0.08);
  --mat-datepicker-toggle-active-state-icon-color:#bec9c8;
  --mat-datepicker-calendar-date-in-range-state-background-color:#004f4f;
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color:#723600;
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color:#324b4b;
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color:#b0cccb;
  --mat-datepicker-toggle-icon-color:#bec9c8;
  --mat-datepicker-calendar-body-label-text-color:#e0e3e2;
  --mat-datepicker-calendar-period-button-text-color:#bec9c8;
  --mat-datepicker-calendar-period-button-icon-color:#bec9c8;
  --mat-datepicker-calendar-navigation-button-icon-color:#bec9c8;
  --mat-datepicker-calendar-header-text-color:#bec9c8;
  --mat-datepicker-calendar-date-today-outline-color:#00dddd;
  --mat-datepicker-calendar-date-today-disabled-state-outline-color:rgba(224, 227, 226, 0.38);
  --mat-datepicker-calendar-date-text-color:#e0e3e2;
  --mat-datepicker-calendar-date-disabled-state-text-color:rgba(224, 227, 226, 0.38);
  --mat-datepicker-calendar-date-preview-state-outline-color:#00dddd;
  --mat-datepicker-range-input-separator-color:#e0e3e2;
  --mat-datepicker-range-input-disabled-state-separator-color:rgba(224, 227, 226, 0.38);
  --mat-datepicker-range-input-disabled-state-text-color:rgba(224, 227, 226, 0.38);
  --mat-datepicker-calendar-container-background-color:#272b2b;
  --mat-datepicker-calendar-container-text-color:#e0e3e2;
  --mat-datepicker-calendar-text-font:Roboto, sans-serif;
  --mat-datepicker-calendar-text-size:1rem;
  --mat-datepicker-calendar-body-label-text-size:0.875rem;
  --mat-datepicker-calendar-body-label-text-weight:500;
  --mat-datepicker-calendar-period-button-text-size:0.875rem;
  --mat-datepicker-calendar-period-button-text-weight:500;
  --mat-datepicker-calendar-header-text-size:0.875rem;
  --mat-datepicker-calendar-header-text-weight:500;
  --mat-datepicker-calendar-container-shape:16px;
  --mat-datepicker-calendar-container-touch-shape:28px;
  --mat-datepicker-calendar-container-elevation-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mat-datepicker-calendar-container-touch-elevation-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mat-datepicker-calendar-header-divider-color:transparent;
  --mat-datepicker-calendar-date-outline-color:transparent;
  --mat-divider-color:#3f4948;
  --mat-divider-width:1px;
  --mat-expansion-container-background-color:#191c1c;
  --mat-expansion-container-text-color:#e0e3e2;
  --mat-expansion-actions-divider-color:#3f4948;
  --mat-expansion-header-hover-state-layer-color:rgba(224, 227, 226, 0.08);
  --mat-expansion-header-focus-state-layer-color:rgba(224, 227, 226, 0.12);
  --mat-expansion-header-disabled-state-text-color:rgba(224, 227, 226, 0.38);
  --mat-expansion-header-text-color:#e0e3e2;
  --mat-expansion-header-description-color:#bec9c8;
  --mat-expansion-header-indicator-color:#bec9c8;
  --mat-expansion-header-text-font:Roboto, sans-serif;
  --mat-expansion-header-text-size:1rem;
  --mat-expansion-header-text-weight:500;
  --mat-expansion-header-text-line-height:1.5rem;
  --mat-expansion-header-text-tracking:0.009rem;
  --mat-expansion-container-text-font:Roboto, sans-serif;
  --mat-expansion-container-text-line-height:1.5rem;
  --mat-expansion-container-text-size:1rem;
  --mat-expansion-container-text-tracking:0.031rem;
  --mat-expansion-container-text-weight:400;
  --mat-expansion-header-collapsed-state-height:48px;
  --mat-expansion-header-expanded-state-height:64px;
  --mat-expansion-container-shape:12px;
  --mat-expansion-legacy-header-indicator-display:none;
  --mat-expansion-header-indicator-display:inline-block;
  --mat-grid-list-tile-header-primary-text-size:400 1rem / 1.5rem Roboto, sans-serif;
  --mat-grid-list-tile-header-secondary-text-size:400 0.875rem / 1.25rem Roboto, sans-serif;
  --mat-grid-list-tile-footer-primary-text-size:400 1rem / 1.5rem Roboto, sans-serif;
  --mat-grid-list-tile-footer-secondary-text-size:400 0.875rem / 1.25rem Roboto, sans-serif;
  --mat-icon-color:inherit;
  --mat-sidenav-container-background-color:#191c1c;
  --mat-sidenav-container-text-color:#bec9c8;
  --mat-sidenav-content-background-color:#191c1c;
  --mat-sidenav-content-text-color:#e0e3e2;
  --mat-sidenav-scrim-color:rgba(41, 50, 50, 0.4);
  --mat-sidenav-container-shape:16px;
  --mat-sidenav-container-elevation-shadow:none;
  --mat-sidenav-container-width:360px;
  --mat-sidenav-container-divider-color:transparent;
  --mat-stepper-header-icon-foreground-color:#191c1c;
  --mat-stepper-header-selected-state-icon-background-color:#00dddd;
  --mat-stepper-header-selected-state-icon-foreground-color:#003737;
  --mat-stepper-header-edit-state-icon-background-color:#00dddd;
  --mat-stepper-header-edit-state-icon-foreground-color:#003737;
  --mat-stepper-container-color:#191c1c;
  --mat-stepper-line-color:#3f4948;
  --mat-stepper-header-hover-state-layer-color:rgba(224, 227, 226, 0.08);
  --mat-stepper-header-focus-state-layer-color:rgba(224, 227, 226, 0.12);
  --mat-stepper-header-label-text-color:#bec9c8;
  --mat-stepper-header-optional-label-text-color:#bec9c8;
  --mat-stepper-header-selected-state-label-text-color:#bec9c8;
  --mat-stepper-header-error-state-label-text-color:#ffb4ab;
  --mat-stepper-header-icon-background-color:#bec9c8;
  --mat-stepper-header-error-state-icon-foreground-color:#ffb4ab;
  --mat-stepper-container-text-font:Roboto, sans-serif;
  --mat-stepper-header-label-text-font:Roboto, sans-serif;
  --mat-stepper-header-label-text-size:0.875rem;
  --mat-stepper-header-label-text-weight:500;
  --mat-stepper-header-error-state-label-text-size:0.875rem;
  --mat-stepper-header-selected-state-label-text-size:0.875rem;
  --mat-stepper-header-selected-state-label-text-weight:500;
  --mat-stepper-header-height:72px;
  --mat-stepper-header-focus-state-layer-shape:12px;
  --mat-stepper-header-hover-state-layer-shape:12px;
  --mat-stepper-header-error-state-icon-background-color:transparent;
  --mat-sort-arrow-color:#e0e3e2;
  --mat-toolbar-container-background-color:#191c1c;
  --mat-toolbar-container-text-color:#e0e3e2;
  --mat-toolbar-title-text-font:Roboto, sans-serif;
  --mat-toolbar-title-text-line-height:1.75rem;
  --mat-toolbar-title-text-size:1.375rem;
  --mat-toolbar-title-text-tracking:0rem;
  --mat-toolbar-title-text-weight:400;
  --mat-toolbar-standard-height:64px;
  --mat-toolbar-mobile-height:56px;
  --mat-tree-container-background-color:#191c1c;
  --mat-tree-node-text-color:#e0e3e2;
  --mat-tree-node-text-font:Roboto, sans-serif;
  --mat-tree-node-text-size:1rem;
  --mat-tree-node-text-weight:400;
  --mat-tree-node-min-height:48px;
}
.mat-theme-loaded-marker {
  display: none;
}
.mat-primary {
  --mat-stepper-header-selected-state-icon-background-color:#00dddd;
  --mat-stepper-header-selected-state-icon-foreground-color:#003737;
  --mat-stepper-header-edit-state-icon-background-color:#00dddd;
  --mat-stepper-header-edit-state-icon-foreground-color:#003737;
}
.mat-primary.mat-icon {
  --mat-icon-color:#00dddd;
}
.mat-primary.mat-mdc-checkbox {
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
}
.mat-primary.mat-mdc-slide-toggle {
  --mat-switch-track-outline-color:#889392;
  --mat-switch-disabled-unselected-track-outline-color:#e0e3e2;
  --mat-switch-label-text-color:#e0e3e2;
}
.mat-primary .mdc-list-item__start,
.mat-primary .mdc-list-item__end {
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
}
.mat-badge {
  --mat-badge-background-color:#00dddd;
  --mat-badge-text-color:#003737;
  --mat-badge-disabled-state-background-color:rgba(0, 221, 221, 0.38);
  --mat-badge-disabled-state-text-color:#003737;
}
.mat-accent {
  --mat-option-selected-state-label-text-color:#ffdcc7;
  --mat-option-selected-state-layer-color:#723600;
  --mdc-circular-progress-active-indicator-color:#ffb787;
  --mat-full-pseudo-checkbox-selected-icon-color:#ffb787;
  --mat-full-pseudo-checkbox-selected-checkmark-color:#502400;
  --mat-minimal-pseudo-checkbox-selected-checkmark-color:#ffb787;
  --mat-stepper-header-selected-state-icon-background-color:#ffb787;
  --mat-stepper-header-selected-state-icon-foreground-color:#502400;
  --mat-stepper-header-edit-state-icon-background-color:#ffb787;
  --mat-stepper-header-edit-state-icon-foreground-color:#502400;
}
.mat-accent.mat-icon {
  --mat-icon-color:#ffb787;
}
.mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color:#502400;
  --mdc-checkbox-selected-focus-icon-color:#ffb787;
  --mdc-checkbox-selected-hover-icon-color:#ffb787;
  --mdc-checkbox-selected-icon-color:#ffb787;
  --mdc-checkbox-selected-focus-state-layer-color:#ffb787;
  --mdc-checkbox-selected-hover-state-layer-color:#ffb787;
  --mdc-checkbox-unselected-pressed-state-layer-color:#ffb787;
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
}
.mat-accent.mat-mdc-slider {
  --mdc-slider-handle-color:#ffb787;
  --mdc-slider-focus-handle-color:#ffb787;
  --mdc-slider-hover-handle-color:#ffb787;
  --mdc-slider-active-track-color:#ffb787;
  --mdc-slider-with-tick-marks-active-container-color:#502400;
  --mdc-slider-label-container-color:#ffb787;
  --mdc-slider-label-label-text-color:#502400;
  --mdc-slider-with-overlap-handle-outline-color:#502400;
  --mat-slider-ripple-color:#ffb787;
  --mat-slider-hover-state-layer-color:rgba(255, 183, 135, 0.05);
  --mat-slider-focus-state-layer-color:rgba(255, 183, 135, 0.2);
}
.mat-accent.mat-mdc-tab-group,
.mat-accent.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color:#ffb787;
  --mat-tab-header-active-focus-indicator-color:#ffb787;
  --mat-tab-header-active-hover-indicator-color:#ffb787;
}
.mat-accent.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color:#ffb787;
  --mdc-switch-selected-handle-color:#502400;
  --mdc-switch-selected-hover-state-layer-color:#ffb787;
  --mdc-switch-selected-pressed-state-layer-color:#ffb787;
  --mdc-switch-selected-focus-handle-color:#723600;
  --mdc-switch-selected-hover-handle-color:#723600;
  --mdc-switch-selected-pressed-handle-color:#723600;
  --mdc-switch-selected-focus-track-color:#ffb787;
  --mdc-switch-selected-hover-track-color:#ffb787;
  --mdc-switch-selected-pressed-track-color:#ffb787;
  --mdc-switch-selected-track-color:#ffb787;
  --mdc-switch-selected-icon-color:#ffdcc7;
  --mat-switch-track-outline-color:#889392;
  --mat-switch-disabled-unselected-track-outline-color:#e0e3e2;
  --mat-switch-label-text-color:#e0e3e2;
}
.mat-accent.mat-mdc-form-field {
  --mat-select-focused-arrow-color:#ffb787;
}
.mat-accent.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color:#ffb787;
  --mdc-radio-selected-hover-icon-color:#ffb787;
  --mdc-radio-selected-icon-color:#ffb787;
  --mdc-radio-selected-pressed-icon-color:#ffb787;
  --mat-radio-checked-ripple-color:#ffb787;
}
.mat-accent.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color:#ffb787;
  --mdc-linear-progress-track-color:#723600;
}
.mat-accent.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color:#ffb787;
  --mdc-filled-text-field-focus-active-indicator-color:#ffb787;
  --mdc-filled-text-field-focus-label-text-color:#ffb787;
  --mdc-outlined-text-field-caret-color:#ffb787;
  --mdc-outlined-text-field-focus-outline-color:#ffb787;
  --mdc-outlined-text-field-focus-label-text-color:#ffb787;
  --mat-form-field-focus-select-arrow-color:#ffb787;
}
.mat-accent.mat-datepicker-content {
  --mat-datepicker-calendar-date-selected-state-text-color:#502400;
  --mat-datepicker-calendar-date-selected-state-background-color:#ffb787;
  --mat-datepicker-calendar-date-today-selected-state-outline-color:#ffb787;
  --mat-datepicker-calendar-date-in-range-state-background-color:#723600;
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color:#004f4f;
  --mat-datepicker-calendar-date-today-outline-color:#ffb787;
  --mat-datepicker-calendar-date-preview-state-outline-color:#ffb787;
}
.mat-accent.mat-mdc-button-base {
  --mdc-text-button-label-text-color:#ffb787;
  --mdc-protected-button-label-text-color:#ffb787;
  --mdc-filled-button-container-color:#ffb787;
  --mdc-filled-button-label-text-color:#502400;
  --mdc-outlined-button-label-text-color:#ffb787;
  --mat-text-button-state-layer-color:#ffb787;
  --mat-text-button-ripple-color:rgba(255, 183, 135, 0.12);
  --mat-protected-button-state-layer-color:#ffb787;
  --mat-protected-button-ripple-color:rgba(255, 183, 135, 0.12);
  --mat-filled-button-state-layer-color:#502400;
  --mat-filled-button-ripple-color:rgba(80, 36, 0, 0.12);
  --mat-outlined-button-state-layer-color:#ffb787;
  --mat-outlined-button-ripple-color:rgba(255, 183, 135, 0.12);
}
.mat-accent.mat-mdc-standard-chip {
  --mdc-chip-elevated-selected-container-color:#723600;
  --mdc-chip-selected-hover-state-layer-color:#ffdcc7;
  --mdc-chip-selected-focus-state-layer-color:#ffdcc7;
  --mdc-chip-selected-label-text-color:#ffdcc7;
  --mdc-chip-with-icon-selected-icon-color:#ffdcc7;
  --mat-chip-selected-trailing-action-state-layer-color:#ffdcc7;
  --mat-chip-selected-trailing-icon-color:#ffdcc7;
}
.mat-accent .mdc-list-item__start,
.mat-accent .mdc-list-item__end {
  --mdc-checkbox-selected-checkmark-color:#502400;
  --mdc-checkbox-selected-focus-icon-color:#ffb787;
  --mdc-checkbox-selected-hover-icon-color:#ffb787;
  --mdc-checkbox-selected-icon-color:#ffb787;
  --mdc-checkbox-selected-focus-state-layer-color:#ffb787;
  --mdc-checkbox-selected-hover-state-layer-color:#ffb787;
  --mdc-checkbox-unselected-pressed-state-layer-color:#ffb787;
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
  --mdc-radio-selected-focus-icon-color:#ffb787;
  --mdc-radio-selected-hover-icon-color:#ffb787;
  --mdc-radio-selected-icon-color:#ffb787;
  --mdc-radio-selected-pressed-icon-color:#ffb787;
  --mat-radio-checked-ripple-color:#ffb787;
}
.mat-accent.mat-mdc-fab,
.mat-accent.mat-mdc-mini-fab {
  --mdc-extended-fab-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-extended-fab-container-shadow-color:#000000;
  --mdc-fab-container-color:#723600;
  --mdc-fab-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-fab-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-container-shadow-color:#000000;
  --mdc-fab-small-container-color:#723600;
  --mdc-fab-small-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-focus-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-hover-container-elevation-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-pressed-container-elevation-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mdc-fab-small-container-shadow-color:#000000;
  --mat-fab-foreground-color:#ffdcc7;
  --mat-fab-state-layer-color:#ffdcc7;
  --mat-fab-ripple-color:rgba(255, 220, 199, 0.12);
  --mat-fab-small-foreground-color:#ffdcc7;
  --mat-fab-small-state-layer-color:#ffdcc7;
  --mat-fab-small-ripple-color:rgba(255, 220, 199, 0.12);
}
.mat-badge-accent {
  --mat-badge-background-color:#ffb787;
  --mat-badge-text-color:#502400;
  --mat-badge-disabled-state-background-color:rgba(255, 183, 135, 0.38);
  --mat-badge-disabled-state-text-color:#502400;
}
.mat-warn {
  --mat-option-selected-state-label-text-color:#ffdad6;
  --mat-option-selected-state-layer-color:#93000a;
  --mdc-circular-progress-active-indicator-color:#ffb4ab;
  --mat-full-pseudo-checkbox-selected-icon-color:#ffb4ab;
  --mat-full-pseudo-checkbox-selected-checkmark-color:#690005;
  --mat-minimal-pseudo-checkbox-selected-checkmark-color:#ffb4ab;
  --mat-stepper-header-selected-state-icon-background-color:#ffb4ab;
  --mat-stepper-header-selected-state-icon-foreground-color:#690005;
  --mat-stepper-header-edit-state-icon-background-color:#ffb4ab;
  --mat-stepper-header-edit-state-icon-foreground-color:#690005;
}
.mat-warn.mat-icon {
  --mat-icon-color:#ffb4ab;
}
.mat-warn.mat-mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color:#690005;
  --mdc-checkbox-selected-focus-icon-color:#ffb4ab;
  --mdc-checkbox-selected-hover-icon-color:#ffb4ab;
  --mdc-checkbox-selected-icon-color:#ffb4ab;
  --mdc-checkbox-selected-focus-state-layer-color:#ffb4ab;
  --mdc-checkbox-selected-hover-state-layer-color:#ffb4ab;
  --mdc-checkbox-unselected-pressed-state-layer-color:#ffb4ab;
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
}
.mat-warn.mat-mdc-slider {
  --mdc-slider-handle-color:#ffb4ab;
  --mdc-slider-focus-handle-color:#ffb4ab;
  --mdc-slider-hover-handle-color:#ffb4ab;
  --mdc-slider-active-track-color:#ffb4ab;
  --mdc-slider-with-tick-marks-active-container-color:#690005;
  --mdc-slider-label-container-color:#ffb4ab;
  --mdc-slider-label-label-text-color:#690005;
  --mdc-slider-with-overlap-handle-outline-color:#690005;
  --mat-slider-ripple-color:#ffb4ab;
  --mat-slider-hover-state-layer-color:rgba(255, 180, 171, 0.05);
  --mat-slider-focus-state-layer-color:rgba(255, 180, 171, 0.2);
}
.mat-warn.mat-mdc-tab-group,
.mat-warn.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color:#ffb4ab;
  --mat-tab-header-active-focus-indicator-color:#ffb4ab;
  --mat-tab-header-active-hover-indicator-color:#ffb4ab;
}
.mat-warn.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color:#ffb4ab;
  --mdc-switch-selected-handle-color:#690005;
  --mdc-switch-selected-hover-state-layer-color:#ffb4ab;
  --mdc-switch-selected-pressed-state-layer-color:#ffb4ab;
  --mdc-switch-selected-focus-handle-color:#93000a;
  --mdc-switch-selected-hover-handle-color:#93000a;
  --mdc-switch-selected-pressed-handle-color:#93000a;
  --mdc-switch-selected-focus-track-color:#ffb4ab;
  --mdc-switch-selected-hover-track-color:#ffb4ab;
  --mdc-switch-selected-pressed-track-color:#ffb4ab;
  --mdc-switch-selected-track-color:#ffb4ab;
  --mdc-switch-selected-icon-color:#ffdad6;
  --mat-switch-track-outline-color:#889392;
  --mat-switch-disabled-unselected-track-outline-color:#e0e3e2;
  --mat-switch-label-text-color:#e0e3e2;
}
.mat-warn.mat-mdc-form-field {
  --mat-select-focused-arrow-color:#ffb4ab;
}
.mat-warn.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color:#ffb4ab;
  --mdc-radio-selected-hover-icon-color:#ffb4ab;
  --mdc-radio-selected-icon-color:#ffb4ab;
  --mdc-radio-selected-pressed-icon-color:#ffb4ab;
  --mat-radio-checked-ripple-color:#ffb4ab;
}
.mat-warn.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color:#ffb4ab;
  --mdc-linear-progress-track-color:#93000a;
}
.mat-warn.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color:#ffb4ab;
  --mdc-filled-text-field-focus-active-indicator-color:#ffb4ab;
  --mdc-filled-text-field-focus-label-text-color:#ffb4ab;
  --mdc-outlined-text-field-caret-color:#ffb4ab;
  --mdc-outlined-text-field-focus-outline-color:#ffb4ab;
  --mdc-outlined-text-field-focus-label-text-color:#ffb4ab;
  --mat-form-field-focus-select-arrow-color:#ffb4ab;
}
.mat-warn.mat-datepicker-content {
  --mat-datepicker-calendar-date-selected-state-text-color:#690005;
  --mat-datepicker-calendar-date-selected-state-background-color:#ffb4ab;
  --mat-datepicker-calendar-date-today-selected-state-outline-color:#ffb4ab;
  --mat-datepicker-calendar-date-in-range-state-background-color:#93000a;
  --mat-datepicker-calendar-date-today-outline-color:#ffb4ab;
  --mat-datepicker-calendar-date-preview-state-outline-color:#ffb4ab;
}
.mat-warn.mat-mdc-button-base {
  --mdc-text-button-label-text-color:#ffb4ab;
  --mdc-protected-button-label-text-color:#ffb4ab;
  --mdc-filled-button-container-color:#ffb4ab;
  --mdc-filled-button-label-text-color:#690005;
  --mdc-outlined-button-label-text-color:#ffb4ab;
  --mat-text-button-state-layer-color:#ffb4ab;
  --mat-text-button-ripple-color:rgba(255, 180, 171, 0.12);
  --mat-protected-button-state-layer-color:#ffb4ab;
  --mat-protected-button-ripple-color:rgba(255, 180, 171, 0.12);
  --mat-filled-button-state-layer-color:#690005;
  --mat-filled-button-ripple-color:rgba(105, 0, 5, 0.12);
  --mat-outlined-button-state-layer-color:#ffb4ab;
  --mat-outlined-button-ripple-color:rgba(255, 180, 171, 0.12);
}
.mat-warn.mat-mdc-standard-chip {
  --mdc-chip-elevated-selected-container-color:#93000a;
  --mdc-chip-selected-hover-state-layer-color:#ffdad6;
  --mdc-chip-selected-focus-state-layer-color:#ffdad6;
  --mdc-chip-selected-label-text-color:#ffdad6;
  --mdc-chip-with-icon-selected-icon-color:#ffdad6;
  --mat-chip-selected-trailing-action-state-layer-color:#ffdad6;
  --mat-chip-selected-trailing-icon-color:#ffdad6;
}
.mat-warn .mdc-list-item__start,
.mat-warn .mdc-list-item__end {
  --mdc-checkbox-selected-checkmark-color:#690005;
  --mdc-checkbox-selected-focus-icon-color:#ffb4ab;
  --mdc-checkbox-selected-hover-icon-color:#ffb4ab;
  --mdc-checkbox-selected-icon-color:#ffb4ab;
  --mdc-checkbox-selected-focus-state-layer-color:#ffb4ab;
  --mdc-checkbox-selected-hover-state-layer-color:#ffb4ab;
  --mdc-checkbox-unselected-pressed-state-layer-color:#ffb4ab;
  --mat-checkbox-disabled-label-color:rgba(224, 227, 226, 0.38);
  --mat-checkbox-label-text-color:#e0e3e2;
  --mdc-radio-selected-focus-icon-color:#ffb4ab;
  --mdc-radio-selected-hover-icon-color:#ffb4ab;
  --mdc-radio-selected-icon-color:#ffb4ab;
  --mdc-radio-selected-pressed-icon-color:#ffb4ab;
  --mat-radio-checked-ripple-color:#ffb4ab;
}
.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
  font: 400 3.562rem / 4rem Roboto, sans-serif;
  letter-spacing: -0.016rem;
  margin: 0 0 .5em;
}
.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2 {
  font: 400 2.812rem / 3.25rem Roboto, sans-serif;
  letter-spacing: 0rem;
  margin: 0 0 .5em;
}
.mat-display-small,
.mat-typography .mat-display-small,
.mat-typography h3 {
  font: 400 2.25rem / 2.75rem Roboto, sans-serif;
  letter-spacing: 0rem;
  margin: 0 0 .5em;
}
.mat-headline-large,
.mat-typography .mat-headline-large,
.mat-typography h4 {
  font: 400 2rem / 2.5rem Roboto, sans-serif;
  letter-spacing: 0rem;
  margin: 0 0 .5em;
}
.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5 {
  font: 400 1.75rem / 2.25rem Roboto, sans-serif;
  letter-spacing: 0rem;
  margin: 0 0 .5em;
}
.mat-headline-small,
.mat-typography .mat-headline-small,
.mat-typography h6 {
  font: 400 1.5rem / 2rem Roboto, sans-serif;
  letter-spacing: 0rem;
  margin: 0 0 .5em;
}
.mat-title-large,
.mat-typography .mat-title-large {
  font: 400 1.375rem / 1.75rem Roboto, sans-serif;
  letter-spacing: 0rem;
}
.mat-title-medium,
.mat-typography .mat-title-medium {
  font: 500 1rem / 1.5rem Roboto, sans-serif;
  letter-spacing: .009rem;
}
.mat-title-small,
.mat-typography .mat-title-small {
  font: 500 .875rem / 1.25rem Roboto, sans-serif;
  letter-spacing: .006rem;
}
.mat-body-large,
.mat-typography .mat-body-large,
.mat-typography {
  font: 400 1rem / 1.5rem Roboto, sans-serif;
  letter-spacing: .031rem;
}
.mat-body-large p,
.mat-typography .mat-body-large p,
.mat-typography p {
  margin: 0 0 .75em;
}
.mat-body-medium,
.mat-typography .mat-body-medium {
  font: 400 .875rem / 1.25rem Roboto, sans-serif;
  letter-spacing: .016rem;
}
.mat-body-small,
.mat-typography .mat-body-small {
  font: 400 .75rem / 1rem Roboto, sans-serif;
  letter-spacing: .025rem;
}
.mat-label-large,
.mat-typography .mat-label-large {
  font: 500 .875rem / 1.25rem Roboto, sans-serif;
  letter-spacing: .006rem;
}
.mat-label-medium,
.mat-typography .mat-label-medium {
  font: 500 .75rem / 1rem Roboto, sans-serif;
  letter-spacing: .031rem;
}
.mat-label-small,
.mat-typography .mat-label-small {
  font: 500 .688rem / 1rem Roboto, sans-serif;
  letter-spacing: .031rem;
}

/* src/styles.less */
html {
  height: 100%;
  background-color: #191c1c;
  color: #e0e3e2;
}
body {
  margin: 0;
  font-family:
    Roboto,
    "Helvetica Neue",
    sans-serif;
}
header {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #9bffcc;
}
.app-box-half {
  border-radius: 12px 12px 0 0;
  border: 1px solid #3f4948;
  padding: 16px 24px 0 24px;
  margin-top: 20px;
}
.app-box {
  border-radius: 12px;
  border: 1px solid #3f4948;
  padding: 16px 24px 16px 24px;
  margin-top: 20px;
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
}
.container .sidebar {
  width: 600px;
  margin-left: 30px;
}
.container .center-box {
  width: 800px;
  margin-left: 50px;
}

/* angular:styles/global:styles */
